<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'object, ' + ${user.name} + '!'"/>
<p th:text="'object, ' + ${user.getName()} + '!'"/>

<p th:text="'list, ' + ${userList[0].name} + '!'"/>
<p th:text="'list, ' + ${userList[1].name} + '!'"/>
<p th:text="'list, ' + ${userList.get(2).name} + '!'"/>

<p th:text="'map, ' + ${userMap.containsKey('1')} + '!'"/>
<p th:text="'map, ' + ${userMap.get('1').name} + '!'"/>
<p th:text="'map, ' + ${userMap.get('2').name} + '!'"/>
<p th:text="'map, ' + ${userMap.get('3').name} + '!'"/>
<p th:text="'ctx, ' + ${#ctx.locale} + '!'"/>
<p th:text="'ctx, ' + ${#lists.size(userList)} + '!'"/>

<table>
    <tr>
        <th>名称</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.name}">Onions</td>
    </tr>
</table>




</body>
</html>
