<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.mybatis.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.example.springboot.mybatis.domain.UserRole" >
    <constructor >
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="roles_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.example.springboot.mybatis.domain.UserRole" >
    insert into user_role (user_id, roles_id)
    values (#{userId,jdbcType=BIGINT}, #{rolesId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.mybatis.domain.UserRole" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="rolesId != null" >
        roles_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="rolesId != null" >
        #{rolesId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>