<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.shiro.mapper.RolePermissionMapper">
    <select id="findPermissions" resultType="java.lang.String" parameterType="java.lang.Long">
        SELECT permission.permission
        from role_permission rpermission
        left join permission permission on rpermission.perid = permission.id
        where rpermission.roleid = #{roleId}
    </select>
</mapper>


