<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描注解方式配置的hibernate类文件 -->
        <property name="packagesToScan">
            <list>
                <value>com.example.springboot.domain</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <map>
                <!-- <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop> -->
                <entry key="hibernate.dialect" value="${hibernate.dialect}"></entry>
                <entry key="hibernate.show_sql" value="${hibernate.show_sql}"></entry>
                <entry key="hibernate.format_sql" value="${hibernate.format_sql}"></entry>
                <entry key="hibernate.current_session_context_class"
                       value="org.springframework.orm.hibernate5.SpringSessionContext"></entry>
                <entry key="hibernate.connection.url" value="${jdbc.url}"></entry>
                <entry key="hibernate.connection.username" value="${jdbc.username}"></entry>
                <entry key="hibernate.connection.password" value="${jdbc.password}"></entry>

                <!-- hibernate多租户配置 -->
                <entry key="hibernate.multiTenancy" value="SCHEMA"></entry>
                <entry key="hibernate.tenant_identifier_resolver"
                       value="com.example.springboot.dao.TenantIdResolver"></entry>
                <entry key="hibernate.multi_tenant_connection_provider"
                       value="com.example.springboot.dao.SchemaBasedMultiTenantConnectionProvider"></entry>

            </map>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="driverClassName" value="${jdbc.driver}"></property>
    </bean>

    <bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

</beans>